@font-face {
  font-family: AppleFont;
  src: url("/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --gray: #86868b;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  position: relative;
  overflow: hidden;
}

nav {
  height: 10vh;
  width: 80%;
  position: absolute;
  background-color: #000;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > h3 {
  color: #fff;
  font-weight: 400;
}

nav > button {
  padding: 5px 20px;
  border-radius: 50px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#page,
#page1,
#page2,
#page3,
#page5 {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#page {
  background-color: black;
}

#page > video {
  height: 100%;
  width: 70%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#page-bottom {
  height: 20%;
  width: 25%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#page-bottom > h4 {
  color: var(--gray);
  margin-bottom: 0.6vw;
}

#page-bottom > img {
  width: 100%;
}

#page1 {
  background-color: white;
}

#page1 > video,
#page2 > video,
#page3 > video,
#page5 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page1 > h2,
#page2 > h2,
#page3 > h2 {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 4vw;
  white-space: nowrap;
  text-align: center;
  z-index: 3;
}

#page4 {
  height: 150vh;
  position: relative;
}

#page4 > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

#page4 > #page-upper {
  width: 40%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page4 > #page-upper > img {
  width: 100%;
}

#page4 > #page-upper > .inner {
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: #ff6c1c;
  margin: 1.5rem 0 1rem;
}

#page4 > #page-upper > .inner > h3 {
  cursor: pointer;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease-in-out;
  font-size: 2vw;
}

#page4 > #page-upper > .inner > h3:hover {
  cursor: pointer;
  padding-bottom: 2px;
  border-bottom: 2px solid #ff6c1c;
}

#page-upper > h4 {
  color: rgba(92, 92, 92, 0.673);
  font-size: 1.8vw;
}

#page4 > button {
  background-color: #fff;
  border: 2.5px solid #232324;
  padding: 13px 20px;
  border-radius: 50px;
  font-size: 1.8vw;
  font-weight: 500;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#page4 > button:hover {
  background-color: #232324;
  color: #fff;
}

#page5 > div {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  white-space: nowrap;
  text-align: center;
  z-index: 9;
}

#page5 > div > h5 {
  font-size: 2vw;
}

#page5 > div > h2 {
  font-size: 4vw;
}

#page6 {
  display: flex;
  background-color: #f5f5f7;
  height: 100%;
  padding: 5% 15%;
}

#page6 .left {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 2.5vw;
}

#page6 .right {
  flex: 2;
  margin-left: 5rem;
}

#page6 .right p {
  font-weight: 700;
  color: var(--gray);
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 2rem;
}

#page6 .right button {
  background-color: #ff5a00;
  color: #fff;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  font-size: 1.5vw;
  cursor: pointer;
}

#page6 .right button:hover {
  opacity: 0.9;
}

#page7 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5% 22%;
  background-color: #f5f5f7;
  text-align: center;
}

#page7 h6 {
  font-size: 1.6vw;
}

#page7 h2 {
  font-size: 6vw;
  margin-bottom: 2rem;
}

#page7 p {
  font-size: 1.7vw;
  font-weight: 600;
  line-height: 1.5;
  color: var(--gray);
}

#page8 {
  height: 100vh;
  background-color: #f5f5f7;
}

#page9,
#page10,
#page11,
#page12,
#page13,
#page14 {
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f7;
  display: flex;
}

#page9 h3,
#page11 h3,
#page13 h3 {
  width: 25%;
  padding-left: 10%;
  font-size: 1.3vw;
  color: var(--gray);
}

#page10,
#page12,
#page14 {
  justify-content: flex-end;
}

#page10 h3,
#page12 h3,
#page14 h3 {
  width: 25%;
  padding-right: 10%;
  justify-content: end !important;
  font-size: 1.3vw;
  color: var(--gray);
}

#page9 h3 span,
#page10 h3 span,
#page11 h3 span,
#page12 h3 span,
#page13 h3 span,
#page14 h3 span {
  color: #000;
}

#page15 {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
}

#page15 img {
  width: 48%;
}

#page16 {
  height: 100vh;
  padding: 0 2rem 2rem;
}

#page16 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page17 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#page17 p {
  color: var(--gray);
  width: 50%;
  text-align: center;
  line-height: 1.5;
  font-size: 1.5vw;
  font-weight: 600;
  margin: 8vw;
}

#page17 p span {
  color: #000;
}

#page17 img {
  width: 80%;
}

#page17 button {
  background-color: #ff5a00;
  color: #fff;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  font-size: 1.5vw;
  cursor: pointer;
  position: absolute;
  bottom: 10%;
}

#page18 {
  background-color: #000;
  position: relative;
}

#page18 .upper {
  padding: 10% 20%;
  text-align: center;
}

#page18 .upper h6 {
  font-size: 1.6vw;
  color: #fff;
}

#page18 .upper h2 {
  font-size: 6vw;
  margin-bottom: 2rem;
  color: #fff;
}

#page18 .upper p {
  font-size: 1.7vw;
  font-weight: 600;
  line-height: 1.5;
  color: var(--gray);
}

#page18 .upper p span {
  color: #fff;
}

#page19 {
  position: relative;
  height: 100vh;
  width: 100vw;
  top: 0;
}

#page19 > canvas {
  position: relative;
  height: 100%;
  width: 100%;
}

#page20 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}

#page20 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 30%;
}

#page20 div {
  position: absolute;
  bottom: -20%;
  right: 10%;
  width: 25%;
  z-index: 22;
}

#page20 div h3 {
  font-size: 2vw;
  color: #fff;
  margin-bottom: 1.5rem;
}

#page20 div p {
  font-size: 1.5vw;
  color: var(--gray);
}

#page20 div p span {
  color: #fff;
}

#page22 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}

.commonText {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0;
}

.commonText h3 {
  font-size: 2vw;
  color: #fff;
  margin-bottom: 1.5rem;
  width: 40%;
  margin: 2rem 0;
}

.commonText p {
  font-size: 1.5vw;
  color: var(--gray);
  width: 40%;
}

.commonText p span {
  color: #fff;
}

.commonText button {
  background-color: #fff;
  color: #000;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  font-size: 1.5vw;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2rem;
  transition: all 0.3s ease-in-out;
}
.commonText button:hover {
  opacity: 0.8;
}

#page22 > #troff {
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 50%;
  z-index: 9;
}
#page22 > #tron {
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 50%;
}
#page23 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}
#page23 > #snroff {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 50%;
  z-index: 9;
}
#page23 > #snron {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 50%;
}
#page24 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}
#page24 > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  opacity: 0;
}

#page25 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 5vw 0;
}

#page25 h6 {
  font-size: 1.6vw;
}

#page25 h2 {
  font-size: 6vw;
  margin-bottom: 2rem;
  padding: 0 10%;
}

#page25 p {
  font-size: 1.7vw;
  font-weight: 600;
  line-height: 1.5;
  color: var(--gray);
  padding: 0 20%;
}

#page25 p span {
  color: #000;
}

#page25 button {
  background-color: #ff5a00;
  color: #fff;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  font-size: 1.5vw;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2rem;
  transition: all 0.3s ease-in-out;
}

#page25 button:hover {
  opacity: 0.9;
}

@media (max-width: 425px) {
  #page > video {
    width: 100%;
  }

  #page-bottom {
    width: 60%;
  }

  #page4 {
    height: 50vh;
  }

  #page4 #page-upper .inner {
    margin: 0.5rem;
  }

  #page6 {
    flex-direction: column;
    padding: 5% 7%;
  }

  #page6 .left {
    justify-content: flex-start;
    font-size: 5vw;
    margin-bottom: 1rem;
  }

  #page6 .right {
    margin: 0;
  }

  #page6 .right button {
    font-size: 4vw;
  }

  #page7 {
    padding: 5% 7%;
  }

  #page7 h6 {
    font-size: 4.6vw;
  }

  #page7 h2 {
    margin-bottom: 1rem;
  }

  #page7 p {
    font-size: 3.7vw;
  }

  #page9,
  #page10,
  #page11,
  #page12,
  #page13,
  #page14 {
    justify-content: center;
  }

  #page9 h3,
  #page10 h3,
  #page11 h3,
  #page12 h3,
  #page13 h3,
  #page14 h3 {
    padding: 0;
    font-size: 3.3vw;
    width: 50%;
  }

  #page15 img {
    width: 45%;
  }

  #page16 {
    height: 45vh;
    padding: 0;
  }

  #page17 p {
    width: 89%;
    font-size: 3.5vw;
    margin: 5vw;
  }

  #page17 button {
    padding: 6px 30px;
    font-size: 2.5vw;
  }

  #page20 {
    height: 35vh;
  }

  #page22 {
    height: 50vh;
  }

  .commonText h3 {
    font-size: 4vw;
    width: 65%;
    margin: 1rem;
  }

  .commonText p {
    font-size: 3.5vw;
    width: 80%;
  }

  .commonText button {
    padding: 10px 30px;
    font-size: 3.5vw;
  }

  #page24 {
    height: 35vh;
  }

  #page25 h6 {
    font-size: 3.5vw;
  }

  #page25 h2 {
    margin-bottom: 0.7rem;
  }

  #page25 p {
    font-size: 3.5vw;
    padding: 0 5%;
  }

  #page25 button {
    font-size: 3.5vw;
    padding: 10px 30px;
  }
}
